<ion-content class="ion-padding">




<ion-grid>
    <ion-row>
      <ion-col *ngFor="let box of boxes" size="3">

    <ion-card>
      <div class="ion-activatable">
        <ion-ripple-effect></ion-ripple-effect>

      <ion-card-content>
        <ion-thumbnail>
          <ion-img
            src="{{box.imageURL}}"
            alt="{{box.imageURL}}"
          ></ion-img>
        </ion-thumbnail>
      </ion-card-content>
      <ion-card-title>{{box.title}}</ion-card-title>
        <ion-item>
      <ion-card-content>{{box.description}}</ion-card-content>
      <ion-card-content>L:{{box.length}} H:{{box.height}} W:{{box.width}}</ion-card-content>
        </ion-item>
      </div>
    </ion-card>


      </ion-col>
  </ion-row>
</ion-grid>


</ion-content>
